// SHOULD ONLY contain "stylus constants override"
$accentColor = #02A6D3;
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #002E3B

// layout
$navbarHeight = 3.6rem
$contentWidth = 100% - 30rem
$sidebarWidth = 30rem

// responsive breakpoints
$MQNarrow = 1920px
$MQMobile = 1920px
$MQMobileNarrow = 419px